 .barra{
    /* background-color: #feffdf;*/
     display: flex;
     justify-content: flex-end;
     margin-right: 1.em;
        /* padding: 0.5em;*/
 }
 
 .inputSearch{
     height: 2em;;
     border-top: 1px solid rgba(0,0,0,1);
     border-bottom: 1px solid rgba(0,0,0,1);
     border-right:0;
     border-left: 1px solid rgba(0,0,0,1);
     border-radius: 5px 0px 0px 5px;
 }
 
 .botonSearch{
     height: 2em;
     border-top: 1px solid rgba(0,0,0,1);
     border-bottom: 1px solid rgba(0,0,0,1);
     border-left:0;
     border-right: 1px solid rgba(0,0,0,1);
     border-radius: 0px 5px 5px 0px;
 }